body {
    background: lightsteelblue;
}
.navbar img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.container {
    display: flex;
    flex-direction: row;
}
.counter-container {
    font-size: 4rem;
}
.right {
    height: 80%;
    width: 50%;
}
.left {
    width: 50%;
}
.navbar {
    height: 10%;
    width: 100%;
    background: rgba(113, 107, 119, 0.7);
    margin-bottom: 20px;
    padding: 5px;
    font-size: 2rem;
    display: flex;
    -webkit-text-fill-color: lightsteelblue;
    align-items: center;
}
.navbar span {
    font-size: larger;
    font-style: italic;
    margin-left: 5px;
    margin-bottom: 6px;
}
.container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: darkgrey;
    padding: 10px;
    border: 3px solid dimgrey;
    height: 70%;
    background-image: url("../img/texture.jpg");
}
.container-buttons-rigth {
    display: flex;
    flex-direction: column;
}
.container-buttons-rigth div {
    display: flex;
    margin-top: 5px
}
.container-buttons-left {
    display: flex;
    flex-direction: column;
}
.container-buttons-left div {
    display: flex;
    margin-top: 5px
}
.container-buttons button {
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
    font-size: 3rem;
    border-radius: 50%;
}
.red{
    border: 6px solid red;
}
.green {
    border: 6px solid lawngreen;
}
.container-buttons .button-show-door {
    font-size: 2rem;
    font-weight: bold;
}
.button-door {
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: orange;
}
.door {
    background: indianred;
    position: absolute;
    height: 65%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 100;
}
.separator {
    margin-right: 25%;
    height: 100%;
    border: 1px solid;
}
.screen {
    background: black;
    border: 6px solid greenyellow;
    -webkit-text-fill-color: greenyellow;
    font-size: 9rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 40%;
    right: 5%;
}
/************ANIMATIONS Classes***************/

.door-left-to-rigth {
    -webkit-animation-name: leftToRigth;
    -moz-animation-name: leftToRigth;
    -o-animation-name: leftToRigth;
    animation-name: leftToRigth;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.door-right-to-left {
    -webkit-animation-name: rightToLeft;
    -moz-animation-name: rightToLeft;
    -o-animation-name: rightToLeft;
    animation-name: rightToLeft;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.parpadea {

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}


#videoInput, #canvasOutputNoFaces, #canvasOutput2 {
    visibility: hidden;
}

#canvasOutput {
    width: 95%;
    height: 90%;
}


/*****************ANIMATIONS***************/

@keyframes leftToRigth {
    from {width: 0;}
    to {width: 50%;}
}
@keyframes rightToLeft {
    from {width: 50%;}
    to {width: 0;}
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
